# UX Playwright testing | Test results

## Test result meanings

❔ Not tested yet.\
✔️ Test passes.\
❌ Test doesn't pass.

## Iina Laamo
Test cases for checking 22:00 News time and name at
[TV opas](https://areena.yle.fi/tv/opas).

Browser  | Result
---------|-------
Chromium | ✔️
Firefox  | ✔️
Safari   | ✔️

## Jonathan Methuen
Test cases for channel logos and names at
[TV opas](https://areena.yle.fi/tv/opas).

Browser  | Result
---------|-------
Chromium | ✔️
Firefox  | ✔️
Safari   | ❌

## Sylvester Salo
Test cases for finding 3rd season, 5th episodes name and date at
[Kummeli](https://areena.yle.fi/1-3339547).

Browser  | Result
---------|-------
Chromium | ✔️
Firefox  | ✔️
Safari   | ✔️

## Vilhelm Niemi
Test cases for providing email in wrong format at
[Yle areena](https://areena.yle.fi/tv).

Browser  | Result
---------|-------
Chromium | ✔️
Firefox  | ✔️
Safari   | ✔️

[Back to README](./README.md)
